html {
    scroll-behavior: smooth;
}

body {
    padding: 50px;
    padding-top: 10px;
}

li {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.Example {
    display: inline;
    margin-right: 70px;
}

code {
    background-color: lightgray;
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#navbar header {
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 150px;
    display: block;
    background-color: wheat;
    border-color: #000;
    border-right: solid;    
}

#navbar ul li {
    padding-top: 20px; 
    border-top: solid;
    padding-bottom: 10px; 
}

a {
    text-decoration: none;
    color: #000;
}

#main-doc {
    margin-left: 150px;
}

